@charset "utf-8";
@use "setting" as *;
@use "common_first_view" as *;
////////////////////////////////////////////////////////////
///     　　　　　トップページのfirst_view   　　　　　　////
////////////////////////////////////////////////////////////
///
/*                共通
======================================================= */
@include common_first_view;
/*                leyout
======================================================= */
body {
  
}
#wrapper {
  overflow: hidden;
}
.l-wrapper{
  padding-top: 188px;
  @media only screen and (max-width: 1023px) {
    padding-top: 160px;
  }
  @media only screen and (max-width: 767px) {
    padding-top: 120px;
  }
}
/*                p-home-kv
======================================================= */
.l-home-firstview {
  width: 100%;
  margin-top: 130px;
  @media only screen and (max-width: 1023px) {
  }
} //.l-firstview

.p-home-firstview__head{
  position: relative;
  margin-bottom: 60px;
  @media only screen and (max-width: 767px) {
    margin-bottom: 36px;
  }
  &:after{
    content: "";
    background-image: url("../../asset/media/images/home/KV_Illust.svg");
    position: absolute;
    right: 100px;
    top: 0;
    width: 293px;
    height: 154px;
    background-size: contain;
    background-repeat: no-repeat;
    @media only screen and (max-width: 1023px){
      width: 200px;
      height: 100px;
      right: 0;
    }
    @media only screen and (max-width: 767px){
      top: inherit;
      bottom: -85px;
    }
    @media only screen and (max-width: 400px) {
      width: 170px;
      height: 60px;
      right: -50px;
      bottom: -66px;
    }
  }
}
.l-title__h1{
  font-size: 30px;
  font-weight: 400;
  @media only screen and (max-width: 1300px){
    font-size: 26px;
  }
  @media only screen and (max-width: 1100px){
    font-size: 26px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 18px;
  }
}
.l-title__span{
  display: block;
  font-family: $fontCormorantGaramond;
  font-size: 100px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  @media only screen and (max-width: 1300px){
    font-size: 70px;
  }
  @media only screen and (max-width: 767px){
    font-size: 55px;
    margin-top: 8px;
  }
}
.l-title__br{
  @media only screen and (max-width: 767px){
    display: block;
  }
}
.c-width__max-sp{
  padding: 0 100px;
  @media only screen and (max-width: 1023px){
    padding: 0 35px;
  }
}
.c-width--max{
  //max-width: 1400px;
  margin: 0 auto;
  padding: 0 100px;
  @media only screen and (max-width: 1023px){
    padding: 0;
  }
}

.p-home-firstview__photo{
  background-image: url("../../asset/media/images/home/home_kv01@2x.webp");
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 620px;
  width: 100%;
  @media only screen and (max-width: 767px){
    height: 380px;
    background-image: url("../../asset/media/images/home/home_kv01.webp");
    background-position: 68% 0;
  }
}

@media (orientation: landscape) {
  //デバイスが横向きの場合
}
@media (orientation: portrait) {
  //デバイスが縦向きの場合
}
